<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../favicon.png">
  <title>可穿戴科技（精简版）</title>
  <link rel="canonical" href="https://wt.tepis.me/lite/entry.html"/>
  <script>
    if (!(/bot|google|baidu|bing|msn|teoma|slurp|yandex/i.test(navigator.userAgent))) {
      if (window.localStorage.getItem('lite') !== 'true') {
        setTimeout(() => {
          window.location.href = '/';
        }, 1000);
      }
    }
  </script>
</head>

<body>
  <header>
    <h1>《可穿戴科技》精简版</h1>
    <p>《可穿戴科技》是一部重口味色情小说。因其中含有大量露骨的非常规性行为描写，本小说可能不适合所有年龄段，亦不宜在工作期间访问。</p>
    <aside>
      <p>您正在访问适用于不支持 JavaScript 的浏览器的《可穿戴科技》精简版。精简版会缺少大量功能（不支持互动小说、查看高清插图、评论、参加投票、标签检索等等），如果您在使用现代浏览器，请<a href="..">点此前往《可穿戴科技》完整版</a>。</p>
    </aside>
  </header>
  <main>
    <p>以下为所有章节：</p>
    <placeholder-chapter-tree/>
  </main>
</body>

</html>
